*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #3d1f00;
  background-color: #fff3e0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
